.footer_box {
     /* width:100%; */
     color:var(--color-text);
/* background-color: goldenrod; */
text-align: center;

}
.footer_box a{
margin: 2rem;
text-decoration: none;
color: var(--color-text);
} 
.footer_nav_icon
{
     width: 30%;
     margin: auto;
     padding: 1rem;
     display: flex;
     justify-content: space-around;
}