.Main-body {
     width: 100%;
     height: 100%;
     padding: 1rem;
}

.Main_Container {

     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     position: relative;
}

.Main_Container .bg_image {
     width: 100%;
     height: 300px;
}

.Main_Container .bg_image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top;
     border-radius: 1rem;

}

.Main_Container .box_position {
     min-width: 100%;
     position: absolute;
     top: 50px;
}

.Main_Container .box_position .form_conten {
     max-width: 400px;
     margin: auto;
     color: var(--color-text);
     outline-color: var(--color-outline);
     flex-wrap: wrap;
     margin-bottom: 3rem;
}

.Main_Container .box_position .form_conten .box_text {
     text-align: center;
}

.Main_Container .box_position .form_conten .box_text h1 {
     color: var(--color-white);
     margin-bottom: 2rem;
}

.box_position .form_conten .box_form {
     flex-wrap: wrap;
     flex: 100%;
     background-color: var(--color-white);
     border-radius: 1rem;
     padding: 1.5rem;
     box-shadow: 2px 3px 20px var(--color-box-shadow)
}


.box_position .form_conten .box_form input {
     padding: 0.3rem 0.5rem;
     width: 97%;
     border-radius: 0.3rem;
     font-size: 1em;
     margin: .4rem;
     border: 2px solid var(--color-border);
     outline-color: var(--color-outline);
}

.box_position .form_conten .box_form span {
     padding: 0.3rem 0.5rem;
}

.box_position .form_conten .box_form button {
     padding: 0.3rem 0.5rem;
     width: 97%;
     border-radius: 0.3rem;
     font-size: 1em;
     margin: 1rem 0.5rem;
     color: var(--color-white);
     background-color: var(--color-button);
     border: 2px solid var(--color-button);
}

.box_position .form_conten .box_form button:hover {

     color: var(--color-white);
     background-color: var(--color-button-hover);
     border: 2px solid var(--color-button-hover);
}

.box_position .form_conten .box_form button:active {

     color: var(--color-white);
     background-color: var(--color-button-action);
     border: 2px solid var(--color-button-action);
}

.box_position .form_conten .box_form input[type="checkbox"] {
     width: 1rem;
     margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
     .Main_Container .bg_image {
          display: none;
     }

     .Main_Container .box_position .form_conten .box_text h1 {
          color: var(--color-text);
          margin-bottom: 2rem;
     }
}